body{
    background-color: black;
    color: gray;
    font-size: 100%;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px){
    #primary {width: 67%}
    #secondary {width: 30%; margin-left: 3%;}
}
/* Media Queries: Tablet Portrait */
@media screen and (max-width: 760px){
    #primary { width: 100%;}
    #secondary {width: 100%; margin: 0; border: none;}
}
hr{
    border: 0px;
    height: 2px;
    background-image: linear-gradient(to right, transparent, gray, transparent);
}
img{
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 50%;
}
.picture{
    text-align: center;
}
.faith{
    text-align: center;
    margin-top: 20px;
    position: relative;
    bottom: 20px;
    padding: 5px 0 0 0;
}
.oladele{
    text-align: center;
    color: mediumspringgreen;
    position: relative;
    bottom: 20px;
}
.web{
    font-size: small;
    text-align: center;
    position: relative;
    bottom: 20px;
}
.contact{
    text-align: center;
    margin-bottom: 0px;
    padding: 5px 0 5px 0;
}
.intro{
    margin: 10px;
    color: gray;
}
.info{
    text-align: center;
    width: 300px;
    margin: 10px 0 10px 0;
    padding: 5px 0 5px 30px;
}
.expertise{
    margin: 10px;
    color: gray;
}
.good{
    text-align: center;
    width: 300px;
    border-style: groove 2px gray;
    padding: 5px 0 5px 30px;
}
.education{
    margin-bottom: 0px;
    position: relative;
    left: 100px;
}
input{
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    position: relative;
    left: 80px;
}
button{
    position: relative;
    left: 100px;
    background-color: gray;
    height: 40px;
    width: 70px;
    border-radius: 10px;
}
footer{
    align-content: center;
}
